<span class="dropdown dropdown-kebab-pf" dropdown>
  <button class="btn btn-link dropdown-toggle" type="button" dropdownToggle>
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu-right dropdown-menu" aria-labelledby="dropdownKebab" *dropdownMenu>
    <li [ngClass]="{'disabled': false}"
        [attr.role]="menuitem">
      <a href="javascript:void(0)"
         [ngClass]="{'disabled': workspace?.attributes?.description==='STOPPED'}"
         class="dropdown-item secondary-action"
         (click)="stopWorkspace()">Stop</a>
      <a href="javascript:void(0)"
         class="dropdown-item secondary-action"
         (click)="confirmDeleteWorkspace($event)">Delete</a>
    </li>
  </ul>
</span>

<!--<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content" tabindex="0">
      <workspace-delete-dialog [host]="modal" [workspace]="workspace" (onDelete)="onDeleteWorkspace($event)"></workspace-delete-dialog>
    </div>
  </div>
</div>-->
