<form role="form" #form="ngForm" (ngSubmit)="createWorkspace(form)" class="form-horizontal">
  <modal #createWorkspaceModal
         title="Create Workspace"
         modalClass="create-workspaces-dialog">
    <modal-content class="chromeless-modal-content">
      <div class="form">
        <fieldset class="add-fieldset">
          <div class="form-group">
            <label for="codebaseId" class="col-sm-3 control-label">Codebase</label>
            <div class="col-sm-9">
              <select id="codebaseId" name="codebaseId"
                      class="form-control"
                      [(ngModel)]="codebaseId"
                      (change)="changeRepo($event)"
                      #codebaseModel="ngModel"
                      required>
                <option #emptyOption selected value=""></option>
                <option *ngFor="let entry of getRepos();"
                        [value]="entry.codebaseId">{{ entry.fullName }}</option>
              </select>
              <div class="help-block"
                   *ngIf="codebaseModel.invalid && (codebaseModel.dirty || codebaseModel.touched)">
                <span *ngIf="codebaseModel.errors.required">Codebase is required.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="branchName" class="col-sm-3 control-label">Branch</label>
            <div class="col-sm-9">
              <select id="branchName" name="branchName"
                      class="form-control"
                      [(ngModel)]="branchName"
                      required>
                <option *ngFor="let entry of branchesList"
                        [value]="entry.name">{{ entry.name }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-default margin-right-5" type="button" (click)="cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit" [attr.disabled]="form.invalid?true:null">Create</button>
    </modal-footer>
  </modal>
</form>

