<div class="list-pf-content-wrapper">
  <div class="list-pf-main-content">
    <div class="list-pf-title">CODEBASES</div>
    <div class="list-pf-description">BRANCHES</div>
    <div class="list-pf-description">PULL REQUESTS</div>
    <div class="list-pf-description">WORKSPACES
      <div class="workspaces-banner">
        <f8-workspaces-notification *ngIf="!cheState || !cheState.running"
                                    [dismiss]="cheState && cheState.running"
                                    [message]="getNotificationMessage()"
                                    [type]="getNotificationType()"></f8-workspaces-notification>
      </div>
    </div>
    <div class="list-pf-description">LAST COMMIT</div>
  </div>
  <div class="list-pf-additional-content">
  </div>
</div>
