<div class="list-pf-content-wrapper">
  <div class="list-pf-main-content">
    <div class="list-pf-title">
      <a [routerLink]="[contextPath | async, 'create', 'codebase', codebase.id]">{{fullName}}</a>
    </div>
    <div class="list-pf-description">
      <b>
        <span class="fa fa-code-fork margin-right-10"></span>
        {{branchesCount}}
      </b>
    </div>
    <div class="list-pf-description">
      <b>
        <span class="fa fa-exclamation-triangle margin-right-10"></span>
        {{pullRequestsCount}}
      </b>
    </div>
    <div class="list-pf-description">
      <codebases-item-workspaces *ngIf="cheState && cheState.running" [codebase]="codebase"></codebases-item-workspaces>
    </div>
    <div class="list-pf-description">
      <small><b>{{lastCommitDate | amTimeAgo}}</b></small>
    </div>
  </div>
  <div class="list-pf-additional-content">
    <div class="button-section">
      <a class="btn btn-default btn-lg pull-right" href="{{htmlUrl}}" target="_blank">Open in Github</a>
    </div>
  </div>
</div>
