<div class="list-pf-content-wrapper">
  <div class="list-pf-main-content">
    <div class="list-pf-title">
      {{branch.name}}
    </div>
    <div class="list-pf-description">
      <small>[todo] workspace name</small>
    </div>
    <div class="list-pf-description">
      <span class="fa fa-arrow-down list-pf-icon workspace-icon-commits-behind"></span>
      <b>[todo]</b>
      <small>Behind</small>
    </div>
    <div class="list-pf-description">
      <span class="fa fa-arrow-up list-pf-icon workspace-icon-commits-ahead"></span>
      <b>[todo]</b>
      <small>Ahead</small>
    </div>
    <div class="list-pf-description"><small>Updated [TODO] by [TODO]</small></div>
    <div class="list-pf-description">
     [todo status]
    </div>
  </div>
  <div class="list-pf-additional-content">
    <div class="button-section">
      <a class="btn btn-default btn-lg pull-right" target="_blank">Start coding</a>
    </div>
  </div>
</div>
